# requirements.txt
numpy>=1.26.4
pandas>=2.2.2
scikit-learn>=1.5.1
imblearn>=0.12.3
psycopg2-binary>=2.9.9
SQLAlchemy>=2.0.31
geoalchemy2>=0.15.1
requests>=2.32.3
geopandas>=1.0.1
fastapi>=0.111.1
uvicorn>=0.30.5
pytest>=8.3.1
matplotlib>=3.9.2
seaborn>=0.13.2
